@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Radley', serif;
    background-color: black;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    color: white;
    margin: 0;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: red;
}

.nav-links li a:active {
    color: red;
}

.nav-links li a.active {
    color: red;
}

.logo img {
    max-width: 200px;
    max-height: 200px;
}

.content {
        text-align: center;
        color: white;
        margin-bottom: 20px;
}

.game-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.game-section img {
    max-width: 300px;
    margin-right: 20px;
    margin-left: 20px;
}

.game-info {
    flex: 1;
    max-width: calc(100% - 340px);
}

.left-layout .game-section {
    justify-content: flex-start;
}

.right-layout .game-section {
    justify-content: flex-end;
}

.left-layout .game-info {
    text-align: left;
    padding-left: 20px;
}

.right-layout .game-info {
    text-align: left;
    padding-right: 20px;
}

.post-card{
    display: flex;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-thumbnail {
    flex: 0 0 200px;
}

.post-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.post-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #000;
}

.post-description {
    margin: 0;
    font-size: 16px;
    color: #000;
}

#pagination {
    margin-top: 20px;
}

#pagination button {
    background-color: #202020;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#pagination button:hover,
#pagination button.active {
    background-color: #FF0000;
}

.form-container {
    background-color: #202020;
    padding: 35px;
    border-radius: 5px;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container label {
    color: white;
    text-align: left;
    width: 100%;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 1px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #9E0000;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer-content {
    font-size: 14px;
}
