@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Radley', serif;
    background-color: #111;
}

header {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    color: white;
    margin: 0;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: red;
}

.nav-links li a:active {
    color: red;
}

.nav-links li a.active {
    color: red;
}

.logo img {
    max-width: 150px;
    max-height: 150px;
}

.content {
        text-align: center;
        color: white;
        margin-bottom: 20px;
}

/* Style for the featured news section */
.featured-news {
    position: relative;
}

/* Style for the background image container */
.featured-news-background {
    position: relative;
    overflow: hidden;
}

/* Style for the background image */
.featured-news-background img {
    margin: auto;
    width: 50%;
    display: block;
    opacity: 0.8; /* Adjust the opacity as needed */
}

/* Style for the semi-transparent overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity as needed */
}

/* Style for the content overlaid on the image */
.featured-news-content {
    position: absolute;
    top: 50%; /* Position the content in the center vertically */
    left: 50%; /* Position the content in the center horizontally */
    transform: translate(-50%, -50%); /* Center the content */
    text-align: center;
    color: #fff; /* Text color */
    z-index: 1; /* Ensure content is above the overlay */
}

/* Style for the title */
.featured-news-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Style for the description */
.featured-news-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Style for the "Read More" link */
.featured-news-content .read-more {
    display: inline-block;
    background-color: #ff9900; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.game-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 20px;
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.game-section:hover {
    transform: translateX(-7px);
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.5);
}

.game-section img {
    max-width: 300px;
    margin-right: 20px;
    margin-left: 20px;
}

.game-info {
    flex: 1;
    max-width: calc(100% - 340px);
}

.left-layout .game-section {
    justify-content: flex-start;
}

.right-layout .game-section {
    justify-content: flex-end;
}

.left-layout .game-info {
    text-align: left;
    padding-left: 20px;
    display: grid;
}

.right-layout .game-info {
    text-align: left;
    padding-right: 120px;
    padding-left: 30px;
    display: grid;
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-card{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    width: 1200px;
    max-width: 1200px;
    border-radius: 4px;
    background-color: #202020;
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.post-card:hover {
    transform: translateX(-7px);
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.5);
}

.post-thumbnail {
    flex: 0 0 auto;
    margin-right: 20px;
    max-width: 200px;
    max-height: 150px;
    border-radius: 4px;
    overflow: hidden;
}

.post-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-title {
    margin: 0;
    font-size: 1.5rem;
    color: white;
    text-align: left;
}

.post-date {
    margin: 0;
    font-size: 0.75rem;
    color: white;
    text-align: left;
    margin-bottom: 40px;
}

.post-description {
    margin: 0;
    font-size: 1.2rem;
    color: white;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
    margin-bottom: 60px;
}

@media (max-width: 1279.95px) {
    .post-thumbnail {
        max-width: 209px;
        max-height: 133px;
    }
}

@media (max-width: 599.95px) {
    .post-thumbnail {
        max-width: 79px;
        max-height: 50px;
        margin-right: 10px;
    }
}

#pagination {
    margin-top: 20px;
}

#pagination button {
    background-color: #202020;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#pagination button:hover,
#pagination button.active {
    background-color: #FF0000;
}

.form-container {
    background-color: #202020;
    padding: 35px 150px 35px 150px;
    border-radius: 5px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container label {
    color: white;
    text-align: left;
    width: 100%;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 1px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #9E0000;
}

.required-label {
    color: #FFF;
    padding-top: 10px;
}

.article {
    background-color: #202020;
    padding-top: 30px;
    padding-bottom: 100px;
}

.article-media img {
    max-width: 50%;
    height: auto;
}

.article-content {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

.PCD1image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust as needed */
}

.PCD1image-container img {
    max-width: 45%; /* Adjust width as needed */
    height: auto;
}

footer {
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer-content {
    font-size: 14px;
}

@media (max-width: 599.95px) {
    .nav-links {
        display: block; /* Change from flex to block */
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 20px; /* Adjust the padding as needed */
    }

    .nav-links li {
        display: block;
        margin: 10px 0; /* Adjust margin as needed */
        text-align: center; /* Center the text */
    }

    .logo {
        max-width: 120px;
    }
    
    .nav-links li a {
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .game-section{
        max-width: 80%;
    }
    
    .game-section img {
        max-width: 150px; /* Adjusted for responsiveness */
    }

    .game-info {
        font-size: 10px;
    }

    .posts-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .post-card {
        width: 80%;
        margin-left: 15px;
    }

    .post-thumbnail {
        max-width: 130px;
        max-height: 125px;
        margin-right: 10px;
    }

    .post-thumbnail img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .post-title {
        font-size: 1.2rem;
    }

    .post-description {
        font-size: 0.9rem;
    }

    .form-container label {
        display: block;
        text-align: left;
        margin-bottom: 10px;
        margin-left: -85px;
    }

    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container textarea {
        width: 250%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 1px;
        box-sizing: border-box;
        display: block; /* Ensure input fields take full width */
        margin: 0 auto; /* Center the input horizontally */
        margin-left: -85px;
    }

    .required-label {
        color: #FFF;
        margin-left: -80px;
        padding-top: 15px;
    }
}
