@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Radley', serif;
    background-color: #111;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

header {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    color: white;
    margin: 0;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover,
.nav-links li a:active,
.nav-links li a.active {
    color: red;
}

.logo img {
    max-width: 150px;
    max-height: 150px;
}

.content {
        text-align: center;
        color: white;
        margin-bottom: 20px;
}

.featured-news {
    position: relative;
}

.featured-news-background {
    position: relative;
    overflow: hidden;
}

.featured-news-background img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.featured-news-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.featured-news-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.featured-news-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.featured-news-content .read-more {
    display: inline-block;
    background-color: #ff9900;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.game-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 20px;
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.game-section:hover {
    transform: translateX(-7px);
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.5);
}

.game-section img {
    max-width: 300px;
    margin: 0 20px;
    object-fit: cover;
}

.game-info {
    flex: 1;
    max-width: calc(100% - 340px);
}

.left-layout .game-section {
    justify-content: flex-start;
}

.right-layout .game-section {
    justify-content: flex-end;
}

.left-layout .game-info,
.right-layout .game-info {
    text-align: left;
    padding: 20px;
    display: grid;
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-card{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    width: 1200px;
    max-width: 1200px;
    border-radius: 4px;
    background-color: #202020;
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.post-card:hover {
    transform: translateX(-7px);
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.5);
}

.post-thumbnail {
    flex: 0 0 auto;
    margin-right: 20px;
    max-width: 200px;
    max-height: 150px;
    border-radius: 4px;
    overflow: hidden;
}

.post-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-title {
    font-size: 1.5rem;
    color: white;
    text-align: left;
}

.post-date,
.post-description {
    font-size: 0.9rem;
    color: white;
    text-align: left;
}

@media (max-width: 1279.95px) {
    .post-thumbnail {
        max-width: 209px;
        max-height: 133px;
    }
}

@media (max-width: 599.95px) {
    .nav-links {
        display: block;
        text-align: center;
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
    }

    .logo {
        max-width: 120px;
    }

    .game-section {
        max-width: 80%;
    }

    .game-section img {
        max-width: 150px;
    }

    .game-info {
        font-size: 10px;
    }

    .post-card {
        width: 80%;
        margin-left: 5%;
    }

    .post-thumbnail {
        max-width: 130px;
        max-height: 125px;
    }

    .form-container {
        padding: 20px;
        max-width: 100%;
    }

    .form-container input,
    .form-container textarea {
        width: 100%;
    }
}

#pagination {
    margin-top: 20px;
}

#pagination button {
    background-color: #202020;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#pagination button:hover,
#pagination button.active {
    background-color: #FF0000;
}

.form-container {
    background-color: #202020;
    padding: 35px 150px 35px 150px;
    border-radius: 5px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form-container label {
    color: white;
    text-align: left;
    width: 100%;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 1px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #9E0000;
}

.required-label {
    color: #FFF;
    padding-top: 10px;
}

.article {
    background-color: #202020;
    padding-top: 30px;
    padding-bottom: 100px;
}

.article-media {
    margin-bottom: 20px;
}

.article-media img {
    max-width: 40%;
    height: auto;
    object-fit: contain;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height: width) */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 100%;
}

.article-content {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    padding: 0 10px;
}

.PCD1textimage-container-left-layout {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust as needed */
}

.PCD1textimage-container-left-layout img {
    max-width: 45%; /* Adjust width as needed */
    height: auto;
    margin-left: 20px;
    object-fit: contain;
}

.PCD1textimage-container-right-layout {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust as needed */
}

.PCD1textimage-container-right-layout img {
    max-width: 45%; /* Adjust width as needed */
    height: auto;
    margin-right: 20px;
    object-fit: contain;
}

@media (max-width: 599.95px) {
    .PCD1textimage-container-left-layout img,
    .PCD1textimage-container-right-layout img {
        max-width: 60%;
        object-fit: contain;
    }
}

.PCD1image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust as needed */
}

.PCD1image-container img {
    max-width: 45%; /* Adjust width as needed */
    height: auto;
}

footer {
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer-content {
    font-size: 14px;
}
